.entry-form {
  border: 1px solid #C7B198;
  border-radius: 0.25rem;
  width: 100%;
  padding: 3rem;
  box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
  label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    input {
      margin-top: 1rem;
      font-size: 15px;
      padding-left: 10px;
      height: 3rem;
      background-color: #FDFAF6;
      border-radius: 0.25rem;
      border: 0.25px solid #EEC373;
      box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
      
    }
    textarea {
        height: 10rem;
        margin-top: 1rem;
        font-size: 15px;
        padding-left: 10px;
        padding-top: 5px;
        background-color: #FDFAF6;
        border-radius: 0.25rem;
        border: 0.25px solid #EEC373;
        box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
    }
    
  }
  
}
