.footer {
  // background-color: $main-theme-main-color;
  // background:linear-gradient(rgba(0, 173, 196, 0.6), rgba(89, 122, 182, 0.6));
  // background:linear-gradient(to left, rgba(0, 108, 196, 0.6), rgba(160, 52, 202, 0.6));
  background:linear-gradient(rgba(0, 108, 196, 0.6), rgba(89, 91, 182, 0.6));



  height: 137px;
  width: 100%;
  position: relative;
  bottom: 0;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;

  & > hr {
    width: 95%;
    background-color: $main-theme-sec-color;
  }
}
