// Header and Footer colors
$main-theme-main-color: #B6D0E2;
$main-theme-sec-color: #36454f;
$main-theme-body-color: #F8F0DF;
$main-theme-hover-color: #899499;
/* Responsive breakpoints */
$screen_size__lg: 1241px; // Wide
$screen_size__md: 1200px; // Laptop
$screen_size__sm: 992px; // ?
$screen_size__xs: 767px; // tablet
$screen_size__xxs: 425px; // phone