// Header and Footer colors
$main-theme-main-color: #b6d0e2;
$main-theme-sec-color: #36454f;
$main-theme-body-color: #f8f0df;
$main-theme-hover-color: #899499;
/* Responsive breakpoints */
$screen_size__lg: 1241px; // Wide
$screen_size__md: 1200px; // Laptop
$screen_size__sm: 992px; // ?
$screen_size__xs: 767px; // tablet
$screen_size__xxs: 425px; // phone

.page-wrapper {
  // background-color: $main-theme-body-color;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));

  min-height: 75vh;
  align-self: center;
  margin: 0;
  padding: 2vh 0;
}
.stranded-button {
  min-width: 15rem;
  white-space: nowrap;
  border-radius: 00.25rem;
  border: none;
  padding: 1rem;
  background-color: $main-theme-sec-color;
  color: #fff;

  &:active {
    transform: scale(0.95);
    background-color: darken($main-theme-sec-color, 5%);
    box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
  }
}

.stranded-button-icon {
  min-width: 2.7rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 0.5rem 0 0.5rem;
  // background: linear-gradient(rgba(121, 173, 23, 0.678), rgba(47, 203, 231, 0.6));
  background-color: $main-theme-main-color;
  color: #000;
  &-green {
    @extend .stranded-button-icon;
    background: linear-gradient(
      rgba(47, 203, 231, 0.6),
      rgba(121, 173, 23, 0.678)
    );
  }
  &-red {
    @extend .stranded-button-icon;
    background: linear-gradient(
      rgba(255, 187, 0, 0.6),
      rgba(155, 29, 29, 0.678)
    );
  }
  &-gray {
    @extend .stranded-button-icon;
    background: linear-gradient(
      rgba(170, 183, 236, 0.6),
      rgba(51, 51, 71, 0.678)
    );
  }
  &:active {
    transform: scale(0.9);
    background-color: darken($main-theme-sec-color, 5%);
    box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
  }
}

.toggler-btn {
  white-space: nowrap;
  border-bottom: none;
  border: transparent;
  border-radius: 25px;
  padding: 1rem;
  min-width: 12rem;
  background-color: transparent;
  color: #000;
  &:active {
    transform: scale(0.95);
    background: linear-gradient(
      rgba(238, 174, 105, 0.6),
      rgba(116, 56, 139, 0.6)
    );
    box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
  }
}
.toggler-btn-active {
  white-space: nowrap;
  border: transparent;
  border-radius: 25px;
  border-bottom: none;
  border: none;
  padding: 1rem;
  min-width: 12rem;
  background-color: transparent;
  color: #000;
  background: linear-gradient(
    rgba(238, 174, 105, 0.6),
    rgba(116, 56, 139, 0.6)
  );

  box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
}
.toggler-container {
  background-color: transparent;
  border-bottom: none;
  border-radius: 0.25rem;
}
.stranded-modal {
  &__header {
    background: linear-gradient(rgba(0, 108, 196, 0.6), rgba(89, 91, 182, 0.6));
  }
  &__body {
    background: linear-gradient(
      rgba(238, 174, 105, 0.6),
      rgba(116, 56, 139, 0.6)
    );
  }
  &__footer {
    background-color: #fff;
  }
}
.create-entry-btn {
  background: red;
  background: linear-gradient(rgba(0, 108, 196, 0.6), rgba(89, 91, 182, 0.6));
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 16px;
  span {
    color: #000;
  }
  i {
    color: #000;
  }
  border: none;
  &:active {
    span {
      color: #fff;
    }
    i {
      color: #fff;
    }
    transform: scale(0.95);
    background: linear-gradient(
      rgba(238, 174, 105, 0.6),
      rgba(116, 56, 139, 0.6)
    );
    box-shadow: 0 2px 25px rgba(53, 85, 151, 0.2);
  }
}

.user-card {
  position: fixed;
  border: 2px solid gray;
  border-radius: 16px;
  padding: 1.5rem;
  width: 16.5%;
  img {
    width: 100px;
    height: 100px;
    border-radius: 16px;
  }

  @media (max-width: $screen_size__lg) {
    position: fixed;
    width: 21.5%;
  }
  @media (max-width: 1800px) {
    position: fixed;
    // border: 1px solid black;
    width: 19%;
  }
  @media (max-width: $screen_size__md) {
    position: fixed;
    width: 20.5%;
  }
  @media (max-width: $screen_size__sm) {
    position: fixed;
    width: 19%;
  }
  @media (max-width: $screen_size__xs) {
    position: static;
    width: 100%;
  }
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
  li {
    border: 1px solid silver;
    border-radius: 50%;
    padding: 0.4rem 1rem;
    list-style-type: none;
    background: linear-gradient(
      rgba(170, 183, 236, 0.6),
      rgba(51, 51, 71, 0.678)
    );
    margin: 10px 10px;
    &.active {
      background: linear-gradient(
      rgba(77, 100, 192, 0.6),
      rgba(191, 191, 238, 0.678)
    );
    }
  }
}
